<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <style>
        body { text-align: center; padding: 100px; font-family: sans-serif; background: #fff5f5; }
        h1 { color: #ff9900; font-size: 80px; margin: 0; }
        p { font-size: 20px; color: #555; }
        .back-link { display: inline-block; margin-top: 20px; color: #ff9900; text-decoration: none; border: 1px solid; padding: 10px 20px; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Ой! Сторінку не знайдено!</p>
    <p><i>{{ message }}</i></p> <a href="http://127.0.0.1:5500/index.html" class="back-link">Повернутися на головну</a>
</body>
</html>